*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERAL */
header{
    background-color: aqua;
    height: 100px;
}
.intestazione{
    margin: 0 auto;
    width: 70%;
    height: 100%;
    background-color: brown;
}
.c-15{
    width: calc(70% - 40%);
    height: 100%;
    background-color: blue;
    float: left;
}
.c-40{
    width: calc(70% - 30%);
    height: 100%;
    background-color: blueviolet;
    float: left;
}
.hero{
    background-color: rgb(231, 138, 16);
    height: calc(50vh - 100px);
    width: 100%;
    position: relative;
}

.contain{
    background-color: brown;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 20px;
    bottom: 10px;
    left: 10%;
    right:20%;
}
.button{
    width: 10%;
    height: 10%;
    position: relative;
    top: 70%;
    bottom: 20%;
    display: inline-block;
}
.sezione{
    background-color: burlywood;
    height: 50vh;
    width: 100%;
    position: relative;
}
.info{
    background-color: brown;
    width: 70%;
    height: 80%;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 15%;
    right:20%;
}
.button-w{
    background-color: azure;
    left: 40%;
}
.button-black{
    background-color: white;
    left: 45%;
}
.text{
    width: 40%;
    height: 80%;
    margin: 30px;
    background-color:azure ;
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}